@import "@styles/reset.pcss";
@import "@styles/variables/globals.pcss";
@import "@styles/variables/palette.pcss";
@import "@styles/fonts.pcss";
@import "@styles/mixins.pcss";
@import "@styles/themes/default.pcss";
@import "@styles/themes/dark.pcss";

html {
  font: var(--baseFont);
}

body {
  font-size: 2rem;
}

.app {
  min-height: 100vh;
  background-color: var(--themeBgColor);
  color: var(--themePrimaryColor);
}