@import "@styles/mixins.pcss";

.pageLayout {
  padding-top: var(--headerHeight);
  height: 100%;

  .wrapper {
    padding-block: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {

    @mixin nlc {
      margin-bottom: 3rem;
    }
  }

  .body {
    height: 100%;
  }
}