@import "reset.pcss";
@import "variables/globals.pcss";
@import "variables/colors.pcss";
@import "fonts.pcss";
@import "mixins.pcss";
@import "themes/default.pcss";
@import "themes/dark.pcss";

html {
  font: var(--baseFont);
}

body {
  font-size: 2rem;
}

.app {
  min-height: 100vh;
}