.app.dark {
  --themeBgColor: var(--colorMineShaft);
  --themePrimaryColor: var(--colorGhost);
  --themeSecondaryColor: var(--colorCornflowerBlue);

  --themeInvertedBgColor: var(--colorWhite);
  --themeInvertedPrimaryColor: var(--colorMineShaft);
  --themeInvertedSecondaryColor: var(--colorBostonBlue);
}