:root {
  --themeBgColor: var(--colorWhite);
  --themePrimaryColor: var(--colorMineShaft);
  --themeSecondaryColor: var(--colorBostonBlue);

  --themeInvertedBgColor: var(--colorMineShaft);
  --themeInvertedPrimaryColor: var(--colorGhost);
  --themeInvertedSecondaryColor: var(--colorCornflowerBlue);
}