.app {
  --themeBgColor: var(--colorWhite);
  --themePrimaryColor: var(--colorMineShaft);
  --themeSecondaryColor: var(--colorBostonBlue);

  background-color: var(--themeBgColor);
  color: var(--themePrimaryColor);

  a {
    color: var(--themeSecondaryColor);
  }
}