.button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  max-height: 100%;

  &--red {
    color: red;
  }

  &.bordered {
    border: 1px solid var(--themeInvertedPrimaryColor);
  }
}