.navbar {
  --navbarPaddingX: 3rem;
  --navbarPaddingY: 2rem;

  width: 100%;
  height: var(--navbarHeight);
  background: var(--themeInvertedBgColor);
  display: flex;
  align-items: center;
  padding: var(--navbarPaddingY) var(--navbarPaddingX);
}

.links {
  margin-left: auto;
  display: flex;
  gap: 3rem;
}
