.header {
  --headerPaddingY: 2rem;

  width: 100%;
  height: var(--headerHeight);
  background: var(--themeInvertedBgColor);

  .inner {
    display: flex;
    align-items: center;
    padding-block: var(--headerPaddingY);
  }

  .links {
    margin-left: auto;
    display: flex;
    gap: 3rem;
  }
}
